/* Google Fonts Links====== */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&family=Work+Sans:wght@400;500;700;900&display=swap');

/* Global CSS======== */
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Header area css====== */
header {
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 700px;
}

.header-container {
    text-align: right;
    padding: 150px 190px 0px 600px;
}

.header-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 50px;
    line-height: 76px;
}

.header-para {
    padding: 0 0 0 65px;
    margin-top: 17px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 25px;
}

.header-btn {
    color: #005FAC;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 13px;
    border: none;
    border-radius: 5px;
}

/* Main section CSS========= */
.failures-section {
    padding: 30px 200px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.failures {
    text-align: left;
}

.failures-img {
    width: 450px;
}

.failures ul li {
    list-style: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #444343;
}

.failures-title {
    margin-top: 80px;
    font-weight: 700;
    font-size: 35px;
    line-height: 37px;
    color: #151414;
}

.failures-para {
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    color: #444343;
}

.check-icon {
    color: rgb(37, 183, 68);
}

/* Skill Section Css======= */
.skill-container {
    padding: 10px 150px;
}

.skill-header-text {
    margin-bottom: 40px;
    margin-top: 40px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #151414;
    text-align: center;
}

.skill-title {
    font-weight: 600;
    font-size: 25px;
    line-height: 40px;
    color: #151414;
    text-align: center;
}

.skill-para {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
}

.skill-box-container {
    padding: 50px 0;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.skill-icons {
    width: 100px;
}

.skill-icons1 {
    width: 89px;
}

.skill-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.313), rgba(35, 67, 35, 0.176));
    border: 2px solid white;
    border-radius: 8px;
}

/* Plans Section CSS===== */
.plans-section {
    text-align: center;
    margin-top: 50px;
}

.plans-title {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #151414;
}

.plans-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.plans-box {
    padding: 20px;
}

.plans-box-title {
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    color: #151414;
}

.plans-box-para {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #737272;
}

/* positive-container css */
.positive-container {
    background-image: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url('../images/watch.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 100px 170px;
    padding: 50px 60px;
    border-radius: 8px;
}

.positive-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
}

.call-now-btn {
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    padding: 13px 15px;
    color: #005FAC;
    border: none;
    border-radius: 5px;
}

/* Footer Section Css===== */
footer {
    padding: 100px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #151414;
    color: #FFFFFF;
}

.future-title {
    margin-bottom: 14px;
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
    color: #F8F8F8;
}

.future-para {
    width: 400px;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.future-info {
    margin-bottom: 17px;
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;
    color: #FFFFFF;
}

.subscribe-title {
    font-weight: 600;
    margin-bottom: 40px;
    font-size: 35px;
    line-height: 29px;
    color: #FFFFFF;
}

input[type='email'] {
    border: 1px solid white;
    border-radius: 8px;
    background: transparent;
    color: #e7dcdc;
    display: block;
    padding: 12px 10px;
    padding-right: 70px;
}

input[type='submit'] {
    margin-top: 20px;
    padding: 10px 10px;
    background: #005FAC;
    border-radius: 8px;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
}

.social-icons-container img {
    margin-right: 8px;
    width: 30px;
}